@import 'settings';

.search-input {
  align-self: center;
  padding: 10px 5px;
  width: 100%;
  min-height: 60px;
  flex: 0;
  border-radius: 0px 25px 25px 0px;
  -webkit-appearance: none;
  border: 1px solid $silver;
  border-left-width: 0px;
  &:focus {
    outline: none;
  }
}

.search-icon-wrapper {
  background-color: #000;
  height: 60px;
  border-radius: 25px 0px 0px 25px;
  & svg {
    align-self: center;
    & path {
      color: #fff;
    }
  }
}
.search-wrapper {
  margin: 0 0 20px 0;
}

.search-bar-container {
  width: 80%;
  align-self: center;
  margin: 0 0 40px 0;
}
